$button-primary-color: #4c51bf;
$button-primary-hover-color: #3c3f9e;
$button-primary-active-color: #2e327f;
$button-primary-text-color: #ffffff;
$button-primary-text-hover-color: #ffffff;
$button-primary-text-active-color: #ffffff;

$button-secondary-color: #9b2c2c;
$button-secondary-hover-color: #7f2424;
$button-secondary-active-color: #5b0e0e;
$button-secondary-text-color: #ffffff;
$button-secondary-text-hover-color: #ffffff;
$button-secondary-text-active-color: #ffffff;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  font-weight: 600;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
  outline: none;

  &.primary {
    background-color: $button-primary-color;
    color: $button-primary-text-color;

    &:hover {
      background-color: $button-primary-hover-color;
      color: $button-primary-text-hover-color;
    }

    &:active {
      background-color: $button-primary-active-color;
      color: $button-primary-text-active-color;
    }
  }

  &.secondary {
    background-color: $button-secondary-color;
    color: $button-secondary-text-color;

    &:hover {
      background-color: $button-secondary-hover-color;
      color: $button-secondary-text-hover-color;
    }

    &:active {
      background-color: $button-secondary-active-color;
      color: $button-secondary-text-active-color;
    }
  }

  &.outline {
    background-color: transparent;
    border: 2px solid;

    &.primary {
      border-color: $button-primary-color;
      color: $button-primary-color;

      &:hover {
        background-color: $button-primary-hover-color;
        color: $button-primary-text-hover-color;
      }

      &:active {
        background-color: $button-primary-active-color;
        color: $button-primary-text-active-color;
      }
    }

    &.secondary {
      border-color: $button-secondary-color;
      color: $button-secondary-color;

      &:hover {
        background-color: $button-secondary-hover-color;
        color: $button-secondary-text-hover-color;
      }

      &:active {
        background-color: $button-secondary-active-color;
        color: $button-secondary-text-active-color;
      }
    }
  }
}
