@import "@material/elevation";
.hs {
  $gutter: 2rem;
  display: grid;
  gap: $gutter / 2;
  grid-template-columns: 10px;
  grid-template-rows: minmax(100vh, max-content);
  grid-auto-flow: column;
  grid-auto-columns: calc(325px - #{$gutter} * 2);
  overflow-x: auto;
  scroll-snap-type: x proximity;
  padding: 0.75 * $gutter 0px;

  &:before,
  &:after {
    content: "";
    width: 10px;
  }

  .item {
    scroll-snap-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
    width: 100%;
    @include elevation(2,black)
  }
}
