@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit browsers like Chrome, Safari */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number'] {
  text-align: center;
  padding: 0;
  height: 30px;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, 0.15);
  background-color: white;
  font-size: 16px;
}

/* width */
.fancy-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

/* Track */
.fancy-scrollbar::-webkit-scrollbar-track {
  background: rgba(9, 30, 66, 0.1);
  border-radius: 6px;
}

/* Handle */
.fancy-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Handle on hover */
/* .fancy-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
} */
